bin
temp/
docs/output
src/Foogle.Charts/bin
src/Foogle.Charts/obj
*.suo
tests/Foogle.Charts.Tests/obj
tests/Foogle.Charts.Tests/bin
packages/*
*.vsp
TestResults.xml
TestResult.xml
*.VisualState.xml
*.bak
*.psess
nuget/*.nuspec